@import url("photographer.css");
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901C1C;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #D3573C;
  font-size: 36px;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
}

.photographer_section article a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.photographer_section article picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
}
.photographer_section article img {
  width: 350px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.photographer_section article h2, .photographer_section article h3 {
  color: #D3573C;
  font-weight: 400;
  margin-bottom: 5px;
}
.photographer_section article h2 {
  line-height: 47px;
  letter-spacing: 0em;
}
.photographer_section article h3 {
  font-size: 13px;
  margin-top: 0px;
}
.photographer_section article p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 10px;
}
.photographer_section article .price {
  color: #757575;
}

.photograph {
  flex-direction: column;
  align-items: flex-start;
}
.photograph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 30px;
}
.photograph-header picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
}
.photograph-header img {
  width: 350px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.photograph-infos h1, .photograph-infos h2 {
  margin: 0px;
}
.photograph-infos h1 {
  font-weight: 400;
  font-size: 64px;
  color: #D3573C;
}
.photograph-infos p {
  font-size: 18px;
  font-weight: 400;
  color: #525252;
}

h2, h3, .like_button, .all_like_button {
  font-size: 24px;
  font-weight: 400;
  color: #901C1C;
}

#medias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#medias .media {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-bottom: 20px;
}
#medias .media a {
  text-decoration: none;
}
#medias .media a picture {
  position: relative;
  width: 350px;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#medias .media a picture img {
  min-height: 300px;
  min-width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
#medias .media figcaption {
  display: flex;
  justify-content: space-between;
}

.like_button, .all_like_button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.all_like_button {
  color: black;
}

#price_likes {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  bottom: -25px;
  right: 120px;
  width: 376px;
  height: 50px;
  border-radius: 5px;
  background-color: #DB8876;
}
#price_likes p {
  font-size: 24px;
  margin: 0;
}

.is_video {
  position: absolute;
  background-color: #DB8876;
  padding: 15px;
  border-radius: 50%;
  font-size: 24px;
  color: black;
}

dialog {
  position: absolute;
  top: 60px;
  border: none;
  padding: 100px;
  width: 50%;
  background-color: transparent;
}
dialog .modal {
  width: 100%;
  box-shadow: -5px 10px 30px 0px rgba(0, 0, 0, 0.2509803922);
}
dialog .modal h2 {
  color: black;
  margin: 0px;
  line-height: 1.1;
  margin-top: 30px;
  text-align: left;
}
dialog form {
  margin-top: 50px;
}
dialog form .formData {
  margin-bottom: 0px;
}
dialog form textarea {
  height: 170px;
  border: none;
  border-radius: 5px;
  margin-bottom: 26px;
}
dialog form textarea, dialog form input {
  width: 97%;
  font-size: 28px;
  padding-left: 10px;
  padding-right: 10px;
}

.filters {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
}
.filters select {
  margin-left: 20px;
  padding: 0px;
  width: 170px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
  background-color: #901C1C;
  height: 50px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
}
.filters select-wrapper::after {
  content: "g";
}
.filters select option.filter_item :hover {
  background-color: transparent;
}/*# sourceMappingURL=style.css.map */